.logo_width {
	width:30% !important;
}
.mainmenu_width {
	width:70% !important;
}

.image-align {
	
	float: left;
    padding-right: 20px;
    
}

.news-title {
	clear:both;
}

.toggle{
 display:inline-block;
height:48px;
width:48px;  background:url("http://icons.iconarchive.com/icons/pixelmixer/basic/48/plus-icon.png");
}
.toggle.expanded{
  background:url("http://cdn2.iconfinder.com/data/icons/onebit/PNG/onebit_32.png");
}

.leader_image {

	float:left;
	padding-right: 10px;
}
.views-row {
 clear:both;
}

.field-item {
	float:left;

}
.sharethis-buttons {
	 text-align: right;
}
.field-label {
	padding-bottom: 05px;
	padding-top: 10px;
}
h1.page-title {
	border-bottom: 1px solid #FF9900;
}